.contents {
  color: #4d5156;
  margin-top: 1rem;
}

.photoInfo {
  color: #333333;
  margin-top: 1rem;
}

.date {
  color: #9399a5;
}

.credit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.credit-link {
  margin-left: 0.25rem;
}

.image {
  border-radius: 6px;
}

@media only screen and (max-width: 780px) {
  .image {
    border-radius: 6px;
    width: 98%;
  }
}
