pre,
code[class*="language-"] {
  overflow: scroll;
  color: #f8f8f2;
  background-color: #2e3440;
  /* background: none; */
  font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 5px;
  border-radius: 3px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* Code blocks */

/* Inline code */
:not(pre) > code {
  display: inline;
  padding: 3px 5px;
  font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  background-color: rgb(246, 250, 254);
  border: 1px solid rgb(201, 215, 232);
  border-radius: 3px;
}

/* クオート */
blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

/*h2*/
h2 {
  border-bottom: solid 1px rgb(199, 199, 199);
  padding-bottom: 3px;
  margin: 35px 0px 15px;
}

h3 {
  margin: 30px 0px 10px;
}

h4 {
  margin: 20px 0px 10px;
}

/* 以下のコードが何も効いていない。prismのtokenizeで失敗していそう */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #636f88;
}

.token.punctuation {
  color: #81a1c1;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #81a1c1;
}

.token.number {
  color: #b48ead;
}

.token.boolean {
  color: #81a1c1;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a3be8c;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #81a1c1;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #88c0d0;
}

.token.keyword {
  color: #81a1c1;
}

.token.regex,
.token.important {
  color: #ebcb8b;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
