/* @media (min-width: 768px) {
  .container {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: 20%;
    margin-right: 20%;
  }
} */

.contents {
  color: #4d5156;
  margin-top: 1rem;
}

.photoInfo {
  color: #333333;
  margin-top: 1rem;
}

.date {
  color: #9399a5;
}

.credit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.credit-link {
  margin-left: 0.25rem;
}

.image {
  border-radius: 6px;
}
