.siteTitle {
  color: rgb(255, 254, 252);
  text-decoration: none;
}
.siteTitle:visited {
  color: inherit;
}

.article-container {
  display: flex;
  flex-direction: column;
  margin: 0.75rem;
}

.title-container {
  display: flex;
  justify-content: center;
}
.date-container {
  display: flex;
  justify-content: center;
}
