.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .card {
    display: flex;
    justify-content: center;
  }
}

.cards {
  margin-left: auto;
  margin-right: auto;
}
