.footer {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  padding-left: 0.5rem;
  bottom: 0;
  display: flex;
  /* max-width: 752px; */
  max-width: 1110px;
  font-family: sans-serif;
  color: rgb(77, 81, 86);
}

.footer-link {
  color: rgb(77, 81, 86);
  text-decoration: none;
  margin-left: 0.25rem;
}
