.footer {
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
