.header {
  background-color: rgb(21, 40, 58);
  color: rgb(255, 254, 252);
  font-size: 2rem;
  height: 6rem;
  font-weight: 700;
}
.header-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1110px;
  padding-left: 0.5rem;
}

.site-title {
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
}

.site-title:visited {
  color: inherit;
}

.icons {
  margin: 1rem;
}

.image {
  width: 2rem;
  height: 2rem;
}
