.header {
  background-color: rgb(36, 50, 99);
  color: rgb(255, 254, 252);
  font-size: 2rem;
  font-weight: 700;
  /* margin: 3rem 0; */
}
.header-container {
  display: flex;
  flex-direction: row;
  /* padding: 1rem; */
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  justify-content: space-between;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

.site-title {
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
}

.site-title:visited {
  color: inherit;
}

.icons {
  margin: 1rem;
}

.image {
  width: 2rem;
  height: 2rem;
}
