.header {
  background-color: rgb(21, 40, 58);
  color: rgb(255, 254, 252);
  font-size: 2rem;
  height: 6rem;
  font-weight: 700;
}
.header-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1110px;
  padding-left: 0.5rem;
}

.site-title {
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
}

.site-title:visited {
  color: inherit;
}

.icons {
  margin: 1rem;
}

.image {
  width: 2rem;
  height: 2rem;
  margin-top: 0.5rem;
}
@media only screen and (max-width: 470px) {
  .image {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1rem;
  }
  .site-title {
    font-size: 1.5rem;
    justify-content: center;
    text-decoration: none;
  }
  .site-title:visited {
    color: inherit;
  }
  .icons {
    margin: 0.75rem;
  }
}
