.header {
  background-color: rgb(103, 103, 120);
  color: rgb(255, 254, 252);
  font-size: 2rem;
  font-weight: 700;
  /* margin: 3rem 0; */
}
.header-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  justify-content: center;
  text-decoration: none;
  font-size: 2.5rem;
}

.site-title:visited {
  color: inherit;
}

.icons {
  margin: 1rem;
}

.image {
  width: 2rem;
  height: 2rem;
}
