.main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25rem;
  max-width: 1100px;
}

.main-path {
  max-width: 800px;
  margin-top: 1.25rem;
}

@media only screen and (max-width: 800px) {
  .main-path {
    max-width: 100%;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

.toc-container {
  position: sticky;
  top: 0;
  height: min-content;
  margin-right: 1rem;
}

@media only screen and (max-width: 780px) {
  .toc-container {
    display: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 1110px;
  padding-left: 0.5rem;
}

.container {
  font-family: sans-serif;
  color: #333333;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.site-title {
  justify-content: center;
  text-decoration: none;
  font-size: 2.5rem;
}
.site-title:visited {
  color: inherit;
}

.icons {
  margin: 1rem;
}

.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}

.header {
  background-color: rgb(103, 103, 120);
  color: rgb(255, 254, 252);
  font-size: 2rem;
  font-weight: 700;
  /* margin: 3rem 0; */
}

.image {
  width: 2rem;
  height: 2rem;
}
