.main {
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  font-family: sans-serif;
  color: #333333;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.site-title {
  justify-content: center;
  text-decoration: none;
  font-size: 2.5rem;
}
.site-title:visited {
  color: inherit;
}

.icons {
  margin: 1rem;
}

.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}

.header {
  background-color: rgb(103, 103, 120);
  color: rgb(255, 254, 252);
  font-size: 2rem;
  font-weight: 700;
  /* margin: 3rem 0; */
}

.image {
  width: 2rem;
  height: 2rem;
}
/* there ware reset css */
