.table-container {
  margin-top: 1rem;
  padding: 1rem;
  padding-left: 2rem;
  width: 250px;
  height: min-content;
}

@media only screen and (max-width: 840px) {
  .table-container {
    width: 200px;
  }
}

@media only screen and (max-width: 800px) {
  .table-container {
    width: 180px;
  }
}

.toc-link {
  text-decoration: none;
  color: rgb(138, 142, 146);
  transition: color 0.2s;
  font-size: 1rem;
}

.toc-link:hover {
  color: rgb(31, 32, 34);
}

.h3-tag {
  margin-left: 1.5rem;
}
