name: Deployment to sakura-vps

on:
  push:
    branches:
      - main
env:
  secret_key : ${{secrets.SECRET_KEY}}
  server_port : ${{secrets.SERVER_PORT}}
  server_ip : ${{secrets.SERVER_IP}}
  user_name : ${{secrets.USER_NAME}}
  server_destination : ${{secrets.SERVER_DESTINATION}}

jobs:
  deploy:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Node.js setup
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn install
      - run: yarn build
      - name: change permissions
        run: chmod +x ./sync.sh
      - name: deploy
        run: ./sync.sh
